<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
        <h3>userData Nested Controls</h3>
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
                    type="text"
                    id="username"
                    formControlName="username"
                    class="form-control">
            <span
                    class="help-block"
                    *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
            >Please enter a valid username</span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
                    type="text"
                    id="email"
                    formControlName="email"
                    class="form-control">
            <span
                    class="help-block"
                    *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
            >Please enter a valid email</span>
          </div>
        </div>
        <h3>Non-userData Nested Controls</h3>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control">
          <span
                  class="help-block"
                  *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched"
          >
            <span *ngIf="signupForm.get('username').errors['nameIsForbidden']">This name is forbidden</span>
            <span *ngIf="signupForm.get('username').errors['required']">This name is required</span>
          </span>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
          <span
                  class="help-block"
                  *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
          >Please enter a valid email</span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              [value]="gender"
              formControlName="gender"
            >{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Hobbies</h4>
          <div class="form-group" *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index">
            <div class="row">
              <div class="col-xs-10">
                <input type="text" class="form-control" [formControlName]="i">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-danger" type="button" (click)="onDeleteHobby(i)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
              </div>
            </div>
          </div>
          <button class="btn btn-success" type="button" (click)="onAddHobby()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
          <!-- IMPORTANT to include type="button" on button so doesn't accidentally submit whole form-->
        </div>
        <br>
        <span
                class="help-block"
                *ngIf="!signupForm.valid && signupForm.touched"
        >Please correct form errors before submitting</span>
        <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
