<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <h4>Try logging in and out and then accessing the individual servers. These are routes that use the auth service and so when looged in, ok, otherwise feck off.</h4>
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
  </div>
</div>

