<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        class="list-group-item"
        *ngFor="let server of servers"
        (click)="onSelectServer(server.id)"
      >
        {{ server.name }}
                <!-- Can access routes using routerLink, queryParams and fragments as below, or programmatically as demonstrated with the editServer function.
        <button
                [routerLink]="['/servers', 5, 'edit']"
                [queryParams]="{allowEdit: '1', runJumbo: 'yes please'}"
                 fragment='loading'
                 >Edit Server</button> -->
        <button
            class="btn btn-sm btn-primary"
            (click)="onEditServer(server.id)"
        >Edit</button>
        <button
            class="btn btn-sm btn-success"
            [routerLink]="['/servers', server.id]"
            [queryParams]="{allowEdit: 1}"
            fragment="loading"
        >Edit 2</button>

      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <br>
    <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <button class="btn btn-primary" (click)="onGoToUsers()">Users</button>
    <app-edit-server></app-edit-server>
    <hr>
    <!--<app-server></app-server>-->
  </div>
</div>

