<div class="container">
  <div class="row">
    <div class="col-xs-12 example">
      <label for="filter">Search servers by name</label>
      <input type="text" id="filter" [(ngModel)]="filteredStatus" class="form-control">
      <br>
      <button class="btn btn-primary" (click)="onAddServer()">Add new server</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h4>All servers</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredStatus:'name'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date:'fullDate' | lowercase}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <a href="https://angular.io/docs/ts/latest/api/#!?query=pipe">Go to angular pipe docs</a>
    <h3>Testing</h3>
    <div class="col-xs-12 example">
      | slice:0:123 => {{ testString | slice:0:123}}
    </div>
    <div class="col-xs-12 example">
      | slice:0:92 | titlecase => {{ testString | slice:0:92 | titlecase}}
    </div>
    <div class="col-xs-12 example">
      <!-- shorten is a custom pipe. See shorten.pipe.ts-->
      | slice:0:5  | shorten => {{ testString | slice:0:5  | shorten}}
    </div>
    <div class="col-xs-12 example">
      | shorten => {{ testString | shorten}}
    </div>
    <div class="col-xs-12 example">
      | shortenWithParams => {{ testString | shortenWithParams}}
    </div>
    <div class="col-xs-12 example">
      | shortenWithParams:22 => {{ testString | shortenWithParams:22}}
    </div>
  </div>
</div>
